@model RegisterVİewModel
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <form method="post">
        <br />
        <label>İsim</label>
        <input type="text" asp-for="Name" class="form-control"/>
        <br />
        <label>Soyisim</label>
        <input type="text" asp-for="Surname" class="form-control" />
        <br />
        <label>Kullanıcı Adı</label>
        <input type="text" asp-for="Username" class="form-control" />
        <br />
        <label>Mail</label>
        <input type="text" asp-for="Email" class="form-control" />
        <br />
        <label>Şifre</label>
        <input type="password" asp-for="Password" class="form-control" />
        <br />
        <button type="submit" class="btn btn-warning">Kaydet</button>
    </form>
</div>
