@model DesignPattern.Facade.DAL.Customer

@{
    ViewData["Title"] = "AddCustomer";
    Layout = "~/Views/Shared/_FacadeLayout.cshtml";
}

<br />
<br />
<br />
<form method="post">
    <br />
    <label>Müşteri Ad</label>
    <input class="form-control" type="text" asp-for="CustomerName" />
    <br />
    <label>Müşteri Soyad</label>
    <input class="form-control" type="text" asp-for="CustomerSurname" />
    <br />
    <label>Müşteri Adress</label>
    <input class="form-control" type="text" asp-for="CustomerAddress" />
    <br />
    <label>Müşteri Şehir</label>
    <input class="form-control" type="text" asp-for="CustomerCity" />
    <button class="btn btn-primary">Ekle</button>
</form>

