@model DesignPattern.Mediator.MediatorPatternn.Results.GetProductByIdQueryResult
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <br />
    <label>Ürün Id:  </label>
    <input type="text" class="form-control" asp-for="ProductId" />
    <br />
    <label>Ürün Adı:  </label>
    <input type="text" class="form-control" asp-for="ProductName" />
    <br />
    <label>Ürün Stok:  </label>
    <input type="text" class="form-control" asp-for="ProductStock" />
</div>