
@{
    Layout = null;
    var infos = ViewBag.citycountryInfo;
    int count = 0;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />

<div class="container" >
    <br /> <br /> <br /> <br />
    <table class="table table-bordered">
         <tr>
            <th>Numara</th>
            <th>Seyehat Bilgileri</th>
         </tr>
        @foreach (var item in infos)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item</td>
            </tr>
        }
    </table>
</div>