@model DesignPattern.CQRS.CQRSPattern.Results.GetProductUpdateByIdQueryResult
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">

    <form method="post">
        <h3 class="text-center">Ürün Bilgileri</h3>
        <br />
        <label>Ürün Id</label>
        <input type="text" class="form-control" asp-for="ProductID" />
        <br />
        <label>Ürün Adı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Ürün Stok</label>
        <input type="text" class="form-control" asp-for="Stock" />
        <br />
        <label>Ürün Fiyat</label>
        <input type="text" class="form-control" asp-for="Price" />
        <br />
        <label>Ürün Açıklama</label>
        <input type="text" class="form-control" asp-for="Description" />
        <br />
        <button type="submit" class="btn btn-warning">Güncelle</button>
    </form>
</div>